.language-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    width: 100%;
    height: 100vh;
    background-color: #e9e7e7;
    box-sizing: border-box;
    scale: 97%;
  }
  
  .language-left {
    flex: 1;
    text-align: left;
  }
  
  .language-left h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }
 
  
  .language-right {
    flex: 1.6;
    display: grid;
    grid-template-columns: repeat(4, 4fr); /* 8 per row */
    grid-template-rows: repeat(4, 4fr); /* 2 rows */
    gap: 20px;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    height: 110%;
  }
  
  .lang-card {
    perspective: 1000px;
    width: 100%;
    height: 100%;
  }
  
  .lang-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }
  
  .lang-card:hover .lang-card-inner {
    transform: rotateY(180deg);
  }
  
  .lang-card-front, .lang-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .lang-card-back {
    transform: rotateY(180deg);
    flex-wrap: wrap;
    gap: 6px;
    font-size: 0.9rem;
    color: white;
    align-content: center;
  }
  
  .french      { background-color: #6c5ce7; }
  .german      { background-color: #355c7d; }
  .japanese    { background-color: #ff6b6b; }
  .chinese     { background-color: #4CAF50; }
  .russian     { background-color: #a29bfe; }
  .portuguese  { background-color: #00b894; }
  .spanish     { background-color: #fdcb6e; color: black; }
  .english     { background-color: #ec2424; }
  .korean      { background-color: #ff7f50; }
  .dutch       { background-color: #f1c40f; color: black; }
  .italian     { background-color: #f67280; }
  .indonesian  { background-color: #00cec9; }
  .arabic      { background-color: #e1b16a; color: black; }
  .hindi       { background-color: #f8b195; }
  .swahili     { background-color: #88b04b; }
  .turkish     { background-color: #354f57; }
  
  .lang-level {
    width: fit-content;
    text-align: center;
    font-weight: bold;
    background: #ede4e4aa;
    border-radius: 6px;
    padding: 4px;
    color: #222;
  }
  @media (max-width: 768px) {
    .language-right{
      gap: 0.3rem;
      justify-content: center;
      
      
    }
  }

  @media (max-width: 768px) {
    .language-section {
      flex-direction: column;
      padding: 60px 20px;
      height: auto;
      justify-content: flex-start;
    }
  
    .language-left {
      text-align: center;
      margin-bottom: 30px;
    }
  
    .language-right {
      grid-template-columns: repeat(2, 1fr);
      
      height: auto;
      max-height: fit-content;
      overflow-y: auto;
   
      padding: 40px;
      width: 80%;
      margin: 0;

     
    }
  .lang-card-back{
    overflow-y: scroll;
    grid-template-columns: repeat(2, 1fr);
  }
    .lang-card {
      height: 120px;
      width: 100%;
      
    }
    .lang-card .lang-card-inner .lang-card-front{
      font-size: 1.3rem;
    }
  
    .lang-level {
      font-size: 0.85rem;
      padding: 3px 0;
    }
  
    .language-left h1 {
      font-size: 2rem;
    }
  
    .language-right {
      border-radius: 15px;
     
      width: 90%;
    
      padding: 4%;
    }
  }
  @media (min-width: 860px) and (max-width: 1060px) {
    .language-section {
      flex-direction: column;
      padding: 60px 20px;
      height: auto;
      justify-content: flex-start;
    }
  
    .language-left {
      text-align: center;
      margin-bottom: 30px;
    }
  
    .language-right {
      grid-template-columns: repeat(4, 1fr);
      
      height: auto;
      max-height: fit-content;
      overflow-y: auto;
      width: 100%;
      padding: 10px;
     
    }
  .lang-card-back{
    overflow-y: scroll;
   
  }
    .lang-card {
      height: 140px;
      margin-bottom: 15px;
      width: 170px;
      
    }
  
    .lang-level {
      font-size: 0.85rem;
      padding: 3px 0;
    }
  
    .language-left h1 {
      font-size: 2rem;
    }
  
    .language-right {
      border-radius: 15px;
     
      width: 90%;
    
      padding: 4%;
    }

  }

  @media (min-width: 769px) and (max-width: 860px) {
    .language-section {
      flex-direction: column;
      padding: 60px 20px;
      height: auto;
      justify-content: flex-start;
    }
  
    .language-left {
      text-align: center;
      margin-bottom: 30px;
    }
    .language-right {
      grid-template-columns: repeat(3, 1fr);
      
      height: auto;
      max-height: fit-content;
      overflow-y: auto;
      width: 100%;
      padding: 10px;
     
    }

    .lang-card-back{
      overflow-y: scroll;
     
    }
      .lang-card {
        height: 140px;
        margin-bottom: 15px;
        width: 170px;
        
      }
    
      .lang-level {
        font-size: 0.85rem;
        padding: 3px 0;
      }
    
      .language-left h1 {
        font-size: 2rem;
      }
    
      .language-right {
        border-radius: 15px;
       
        width: 90%;
      
        padding: 4%;
      }
  
  }
@media (max-height: 770px) and (min-height: 550px) {

}